@import "tailwindcss";

@keyframes zoom {
  from { transform: scale(0.6); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-zoom {
  animation: zoom 0.3s ease-out;
}

.animate-fade {
  animation: fade 0.3s ease-out;
}

